# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env

# Raw data (too large for GitHub)
data/raw/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.dbnul
data/processed/second_gen_marriages.csv
